div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 3em;
    color: green;
}

.image{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 800px) {
    div {
        width: 100%;
        height: 100%;
        display: block;
    }

    .image {
        width: 75%;
        height: 75%;
    }

    h1 {
        font-size: 2em;
        color: blue;
    }

}

@media screen and (max-width: 480px) {
    div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
    }

    .image {
        width: 50%;
        height: 50%;
    }

    h1 {
        font-size: 1em;
        color: red;
    }
}